/* I'm using the !important argument abundantly here, which is bad practice in terms of accessibility. This will be corrected in later iterations and just done for testing purposes */

* {
    /*border: 1px solid red !important;*/
    box-sizing: border-box;
}

html {
    font-size: 24px;
}

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

h2 {
  font-size: 1.2rem;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline  ;
}

.container {
    display: grid;
    margin: auto;
    grid-gap: 30px;
    grid-template-columns: 1fr 5fr 1fr;
  }

  /* if .container * {} all descendants are flex, if .container > * {} only children are! */

  
header {
  display: flex;
  justify-content: center;
  align-content: center;
  grid-column-end: span 3;
}

header h1 {
  padding: 20px;
  font-size: 2rem;
  letter-spacing: 5px;
}

nav {
  display: flex;
  justify-content: center;
  align-content: center;
  grid-column-end: span 3;
  margin: 0 10%;
  justify-content: space-around;
}

nav h2 {
  display: inline-block;
  padding: 0 20px;
}

@media only screen and (max-width: 780px) {
  nav h2 {
    font-size: 0.9rem;
  }
}


.mission {
  grid-column-end: span 3;
  grid-row-end: span 1;
  display: flex;
  min-height: 400px;
  background-image: url("https://content.codecademy.com/PRO/independent-practice-projects/flexbox-business-site/img/skyscrapers.jpg");
  justify-content: center;
  align-items: center;
}

.mission .banner {
  /* margin: auto centers the div vertically inside main, when the parent-flexbox does NOT specify: justify-content: center AND align-items: center*/ 
  background-color: white;
  width: 100%;
  padding: 20px;
}

.mission h2 {
  font-size: 1.3rem;
  font-weight: bold;
}

.portfolio {
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-end: span 1;
  text-align: left !important;
  padding-top: 50px;
}

.gallery {
  grid-column-start: 2;
  grid-column-end: span 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
}

.gallery img {
  width: 220px;
  height: 146.667px;
}

@media only screen and (max-width: 780px) {
  .gallery {
    flex-wrap: column wrap;
  }

  .gallery img {
    width: 300px;
    height: auto;
  }
}

.expose {
  padding: 15px;
}

footer {
  grid-column-end: span 3;
  background-color: rgb(101, 105, 109);
  padding-top: 40px;
}

footer h2, footer h3 {
  margin: 30px;
  color: white;
}

footer p {
  margin-top: 100px;
  color: white;
}


@media only screen and (max-width: 780px) {
  footer h2, footer h3 {
    font-size: 0.8rem;
  }
  
  footer p {
    font-size: 0.7rem;
}